.container {
  display: grid;
  // grid: 100px / repeat(3, 100px) auto;
  // grid: 100px / repeat(3, auto 50px);

  //repeat function used to make a 2 of 1fr and 3 fr, fr is for fraction also known as and auto with adjust number
  grid: 100px / repeat(2, 1fr 3fr);
  grid-gap: 10px;
  > div {
    background: #373142;
    color: #FFF;
    text-align: center;
    line-height: 100px;
  }
}