.container {
  // set it as to grid display
  display: grid;
  // grid short hand property row to columns
  grid: 100px 100px / 100px auto 100px 100px;
  // auto means auto fill the width on  
  // grid-template-columns: 100px auto 100px 100px;
  // grid-template-rows: 100px 100px;
  // grid-auto-flow: dense;
  // add gap between column
  // grid-column-gap: 10px;
  // add gap between row
  // grid-row-gap: 10px;

  // the ultimate gap between column and row
  grid-gap: 10px;
  > div {
    //no need to define width and height in div bcs It's already set in the container
    background: #373142;
    color: #FFF;
    text-align: center;
    line-height: 100px;
  }
}