.container {
  border: dashed 2px red;
  display: flex;
  height: 100vh;
  justify-content: space-between;
  align-items: center;
  align-content: space-between;
  // flex-wrap: wrap;       
  > div {
    background: #373142;
    color: #FFF;
    width: 100px;
    height: 100px;
    text-align: center;
    line-height: 100px;
    border: solid 1px red;
    &:nth-child(2) {
      height: 150px;
      // order is an flex item would make it ordered by a number start from 0
      // order : 1; even if we add 1 the item would shown behind / beside an item without an order property
      // flex 0 means flex grow to 0 and flex shrink to 1, it not allow to grow and allow to shrink if we adjust the window like the other items, and auto for auto flex basis
      flex: 0 1 auto;
    }
    &:nth-child(3) {
      flex-grow: 3;
      height: 150px;
      // aligning the item at the end of the row of the window
      align-self: flex-end;
    }
  }
}