.container {
  // so basically flexbox is a flexible when we adjusting the windows

  border: dashed 2px red;
  display: flex;
  // add a height on div
  height: 100vh;
  // justified content
  // justify-content : center;
  // justified content with space between and start & end with a space like adding an extra padding. and already responsive!
  // justify-content : space-around
  // justified content with an evenly same padding between objects
  // justify-content : space-evenly;  
  // justified content with space-between equal with the object
  justify-content: space-between;
  
  align-items: center;
  align-content: space-between;
  // put others item on new line fter adjusting the window
  flex-wrap: wrap;
  > div {
    background: #373142;
    color: #FFF;
    width: 100px;
    height: 100px;
    text-align: center;
    line-height: 100px;
    &:nth-child(2) {
      height: 150px;
    }
  }
}